.navbar{
  border-radius: 0px;
  border: none;
  background: #333333;
  margin-bottom: 0px;
  height: 80px;
  z-index: 3;
}

.navbar-collapse{
    background: #333333;

}

.nav-item{
  cursor: pointer;
  margin-right: 35px;
  margin-top: 25px;
}

.nav-brand{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    height: auto;
    padding-top: 10px;
}

.navbar-title{
  cursor: pointer;
  color: #f2f2f2;
  font-size: 2.5em;
}

.icon-site{
    width: 60px;
    cursor: pointer;
    margin-right: 20px;
    margin-top: -15px;
}

@media(min-width:768px){
  .nav-item:hover img{
    width: 38px;
    height: auto;
    margin-top: -5px;
  }
}

@media(max-width:767px){

  .navbar-header{
      height:80px;
      padding-top: 15px;
  }

  .nav-brand{
      width: auto;
      text-align: left;
      margin-left: 10px;
  }

  .navbar-collapse{
      border-color: black !important;
  }

  .navbar-toggle{
      border-color: #888 !important;
  }

  .navbar-title{
      font-size: 1.4em;
  }

  .icon-site{
      width: 37px;
      margin-right: 5px;
  }

  .span-us,.span-fr{
      color: #f2f2f2;
      font-size: 1.2em;
      margin-left: 5px;
  }

  .nav-item{
      text-align: left;
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
  }

}
