.projects{
  height: 100%;
  margin-top: -50px;
}

.project{
  height: 500px;
  width: 80%;
  border-radius: 32px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.cv{
  background-image: url(../res/cv.jpg);
}

.agent-web{
  background-image: url(../res/agentweb.jpg);
}

.top-shape{
  background-image: url(../res/top-shape.png);
}

.more-projects{
  background-image: url(../res/wip.jpg);
}

.btn{
  position: relative;
  top : 210px;
  padding: 20px 20px;
  font-size: 30px;
  border-radius: 6px;
  box-shadow: 2px 2px 2px #888888;
  border: solid 2px white;
}

.btn:hover{
  background-color: white;
  border-color: white;
  color: #337ab7;
}

.more-info{
    position: absolute;
    right:20;
    top:auto;
    bottom:20;
    font-size: 2.8em;
}

.more-info:hover{
    cursor: pointer;
    color:white;
}

@media(max-width:767px){

  .project{
    width: 90%;
    height: 300px;
  }

  .btn{
    top : 120px;
    padding: 15px 15px;
    font-size: 22px;
  }

  .more-info{
      font-size: 2.1em;
  }

}

@media(max-height:400px){

  .projects{
    margin-top: 70px;
  }

  .project{
    width: 90%;
    height: 200px;
  }

  .btn{
    top : 75px;
  }

}
