@import 'styles/variables.scss';

.backToTop {
  position: fixed;
  z-index: 99;
  border: none;
  outline: none;
  border-radius: $borderRadiusBtnSecondary;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  background: $darkTheme;
  color: $primaryColor !important;
  cursor: pointer;
  i{
    font-size: 1.4rem;
  }
  &:hover{
    background: $primaryColor;
    color: $darkTheme !important;
  }
}