// Breakpoints
$xs: 380px;
$sm: 576px;
$md: 768px;
$mdi: 1100px;

// heights
$smh: 520px;

// borders radius
$borderRadius: 16px;
$borderRadiusBtn: 3px;
$borderRadiusBtnSecondary: 10px;

// Colors
$darkTheme: #262626;
$darkColor: #4C4C4C;
$primaryColor: #f2f2f2;