body{
  text-align: center;
  background-image: url(../res/matrix.gif);
}

.btn{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 240px;
  height: 100px;
  margin: auto;
  padding-top: 30px !important;
  font-size: 30px !important;
  box-shadow: 5px 5px 2px #888888;
}
